body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flexbox;
}

header, footer {
    background-color: rgba(14, 14, 14, 0.8); 
    color: #fff;
    text-align: center;
    padding: 1em;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

article, aside {
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
article:hover {
    transform: scale(1.1) ;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

aside img{ 
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

h2 {
    color: #333;
}

table {
    margin-top: 20px;
    font-weight: bold;
}

footer {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    article, aside {
        width: 90%;
    }
}

.contact {
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
    
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display:inline;
}
